.App{
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table,tr,td{
  border: 1px solid black;
  
}
td{
  min-width: 100px;
  max-width: 115px;
  word-break: break-word;
}